/* Main Header:  */
@import url('https://fonts.googleapis.com/css?family=Handlee');
/* fontFamily: "'Handlee', cursive", */

/* Sub headers: */
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
/* fontFamily: "'Montserrat Alternates', sans-serif", */

body {
  background-color: #393c3f;
  text-align: justify;
  height: 100vh;
  width: 100vw;
  color: white;
}

.App {
  text-align: justify;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(175px, 1fr))
}

.myName {
  /* width: 61.7%; */
  grid-column: 2/4;
  display: inline-block;
  height: 26%;
  max-height: 650px;
  max-width: 370px;
  margin: 26.66vh 0;
  font-size: calc(100%);
}

.colorContainer {
  /* width: 38.1%; */
  grid-column: 4 / last-line;
  /* grid-column: 5 / auto; */
  /* width: 100vh; */
  background-color: #fe535b;
  /* height: 66vh; */
  height: calc( .622 * vw );
  margin: 16.66vh 0;
}

.profilePicture{
  /* height: 66%; */
  height: 223px;
  /* height: 100%; */
  width: 66%;
  width: calc( .385 * vw );
  background-color: lightgray;
  margin-top: 75px;
}

.textContainer {
  color: white;
  padding-right: 16px;
  text-align: right;
  grid-column: 2 / 5;
  /* max-width: 350px; */
}

.content{
  grid-column: 2/ 5;
}


